@font-face {
  font-family: 'Dela Gothic';
  src: url('../fonts/Dela_Gothic_One/DelaGothicOne-Regular.ttf');
}

@font-face {
  font-family: 'Ultra';
  src: url('../fonts/Ultra-Regular.ttf');
}

@font-face {
  font-family: 'Rock n Roll One';
  src: url('../fonts/RocknRollOne-Regular.ttf');
}

@font-face {
  font-family: 'Nerd Font Icon';
  src: url('../fonts/NerdFontsSymbolsOnly/SymbolsNerdFontMono-Regular.ttf');
}

:root {
  --old-paper-color: #B99566;
  --dark-old-paper-color: #8C714D;
  --pastel-pink-color: #FFD1DC;
  /* color-palette */
  --picton-blue: #02A9EA;
  --fluorescent-cyan: #34F6F2FF;
  --alice-blue: #EEF8FFFF;
  --jet: #2A2B2AFF;
  --aureolin: #F9E900FF;
  --atomic-tangerine: #FF934FFF;
  --true-blue: #3066BE;
  --yellow-green: #9BC53D;
  --razzmatazz: #F61067;
  --rebecca-purple: #5E239D;
  --pakistan-green: #104911;
}

:root,
body {
  margin: 0;
  font-size: 1.5rem;
  color: var(--jet);
}

* {
  font-family: 'Rock n Roll One', 'Ultra', sans-serif;
}

.gothic-font {
  font-family: 'Dela Gothic', 'Ultra', sans-serif;
}

header {
  position: relative;
  padding-bottom: 3rem;
  z-index: 2;
}

main {
  position: relative;
  z-index: 1;
}

section#players {
  transition: background-color 0.2s;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem 3rem;
  justify-content: space-between;
  position: relative;
  text-align: center;
}

section#players > * {
  display: grid;
  justify-content: center;
  align-items: center;
}

section#players #current-scores {
  display: flex;
  gap: 1rem;
}

#current-scores {
  align-self: flex-start;
}

section#choices {
  max-width: 80ch;
  padding: 0 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
}

section#choices button.choice-button {
  flex: auto;
  padding: 1rem 2rem;
  border-radius: 1rem;
  transition: 
    background-color 0.2s,
    color 0.2s;
}

section#choices button#surrender.choice-button {
  position: absolute;
  left: 1rem;
  bottom: -120%;
  padding: 0 .5rem;
  border-radius: .75rem;
}

section#choices button.choice-button:hover {
  cursor: pointer;
}

section#choices button#rock.choice-button:hover {
  background-color: #ccc;
  color: black;
}

section#choices button#paper.choice-button:hover {
  background-color: beige;
  color: black;
}

section#choices button#scissors.choice-button:hover {
  background-color: lightblue;
  color: black;
}

section#choices button#surrender.choice-button:hover {
  background-color: var(--pastel-pink-color);
}

section#choices button#rock.choice-button:focus {
  background-color: darkgray;
  color: black;
}

section#choices button#paper.choice-button:focus {
  background-color: var(--old-paper-color);
  color: black;
}

section#choices button#scissors.choice-button:focus {
  background-color: navy;
  color: white;
}

section#choices button#surrender.choice-button:focus {
  background-color: darkred;
}

section#choices button#rock.choice-button:active {
  background-color: white;
  color: black;
}

section#choices button#paper.choice-button:active {
  background-color: white;
  color: var(--dark-old-paper-color);
}

section#choices button#scissors.choice-button:active {
  background-color: white;
  color: navy;
}

section#choices button#surrender.choice-button:active {
  background-color: red;
}

section#game-result {
  padding: 0 3rem;
  font-size: 1rem;
}

section#game-result h3 {
  font-weight: normal;
  font-size: 1.5rem;
}

.hidden {
  display: none !important;
}

.game-won h3 {
  color: darkgreen;
}

.game-lost h3 {
  color: darkred;
}

.game-tie h3 {
  color: var(--old-paper-color);
}

.game-surrender h3 {
  color: navy;
}

div.reactions {
  position: relative;
}

div.reaction-icon {
  border: 1px solid var(--jet);
  user-select: none;
  -webkit-user-select: none;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 0;
  padding: .3rem;
}

div#player-reaction-icon {
  left: 0;
}

div#opponent-reaction-icon {
  right: 0;
}

img.reaction-image,
img.opponent-image,
img.move-image {
  border-radius: 15%;
  width: 100%;
  user-select: none;
  -webkit-user-select: none;
}

img.move-image {
  position: absolute;
    transform: scale(0.5);
    top: 0;
    bottom: 0;
    margin: auto 0;
}

#player img.move-image {
  right: -75%;
}

#opponent img.move-image {
  left: -75%;
}

nav {
  display: flex;
  align-items: center;
  height: 3rem;
  font-size: 1rem;
  gap: 1rem;
  position: fixed;
  width: 100%;
  box-shadow: 0 0 .3rem 0 var(--jet);
  background-color: var(--yellow-green);
}

div#github-profile-image {
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid black;
  height: 60%;
  margin-right: 1em;
}

div#home-logo,
div#github-profile-image {
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: relative;
  cursor: pointer;
}

div#home-logo::before,
div#github-profile-image::before {
  color: white;
  position: absolute;
  display: none;
}

button#match-history-switch {
  background-color: var(--picton-blue);
  margin-left: auto;
  border-radius: .3rem;
  width: 4rem;
  height: 2rem;
  border: 1px solid var(--true-blue);
  position: relative;
  overflow: hidden;
}

button#match-history-switch span{
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120%;
  transition: font-size 0.1125s;
}

button#match-history-switch:hover span{
  font-size: 1.5em;
}

div#home-logo::before {
  content: 'ホーム';
}

div#github-profile-image::before {
  content: 'ギット';
  width: 190%;
  text-align: center;
  font-size: .7em;
}

div#home-logo:hover::before,
div#github-profile-image:hover::before {
  display: block;
}

div#home-logo,
div#home-logo a,
div#github-profile-image a,
div#home-logo img,
div#home-logo a img,
div#github-profile-image img,
div#github-profile-image img a {
  height: 100%;
}

div#home-logo img,
div#github-profile-image img {
  object-fit: contain;
  width: 100%;
  opacity: 1;
  transition: opacity 0.2s;
}

div#home-logo:hover img,
div#github-profile-image:hover img {
  opacity: 0.3;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid black;
  border-radius: .1em;
  z-index: 2;
  font-size: .8em;
  padding: .5em;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
}

.dropdown-content a:hover {
  text-decoration: underline;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  gap: .33em;
}

.icons-font,
.icons-font * {
  font-family: 'Nerd Font Icon';
}

#choices .icons-font {
  font-size: 3em;
}

.icon-win {
  color: var(--pakistan-green);
}

.icon-tie {
  color: var(--rebecca-purple);
}

.icon-lose {
  color: var(--razzmatazz);
}

#opponent-move-icon {
  left: -30%;
  transform: rotate(-45deg) rotateY(180deg);
}

#player-move-icon {
  right: -30%;
  transform: rotate(45deg);
}

.move-icon {
  position: absolute;
  user-select: none;
  -webkit-user-select: none;
  bottom: 10%;
  font-size: 2em;
  border-radius: 50%;
  border: 1px solid black;
  padding: .5rem;
  color: black;
}

.icon-rock {
  background-color: #ccc;
}

.icon-paper{
  background-color: beige;
}

.icon-scissors {
  background-color: lightblue;
}

@media only screen and (max-width: 600px) {
  .move-icon {
    font-size: 1.3em;
  }
  #opponent-move-icon {
    left: -50%;
  }

  #player-move-icon {
    right: -50%;
  }
}
