@font-face {
  font-family: 'Dela Gothic';
  src: url('../fonts/Dela_Gothic_One/DelaGothicOne-Regular.ttf');
}

@font-face {
  font-family: 'Ultra';
  src: url('../fonts/Ultra-Regular.ttf');
}

:root {
  --old-paper-color: #B99566;
  --dark-old-paper-color: #8C714D;
  --pastel-pink-color: #FFD1DC;
}

:root,
body {
  margin: 0;
  font-size: 1.5rem;
}

* {
  font-family: 'Dela Gothic', 'Ultra', sans-serif;
}

section#players {
  transition: background-color 0.2s;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem 3rem;
  justify-content: space-between;
  position: relative;
  text-align: center;
}

section#players > * {
  display: grid;
  justify-content: center;
  align-items: center;
}

section#players #current-scores {
  display: flex;
  gap: 1rem;
}

#current-scores {
  align-self: flex-start;
}

section#choices {
  max-width: 80ch;
  padding: 0 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
}

section#choices button.choice-button {
  flex: auto;
  padding: 1rem 2rem;
  border-radius: 1rem;
  transition: 
    background-color 0.2s,
    color 0.2s;
}

section#choices button#surrender.choice-button {
  position: absolute;
  left: 1rem;
  bottom: -120%;
  padding: 0 .5rem;
  border-radius: .75rem;
}

section#choices button.choice-button:hover {
  cursor: pointer;
}

section#choices button#rock.choice-button:hover {
  background-color: #ccc;
  color: black;
}

section#choices button#paper.choice-button:hover {
  background-color: beige;
  color: black;
}

section#choices button#scissors.choice-button:hover {
  background-color: lightblue;
  color: black;
}

section#choices button#surrender.choice-button:hover {
  background-color: var(--pastel-pink-color);
}

section#choices button#rock.choice-button:focus {
  background-color: darkgray;
  color: black;
}

section#choices button#paper.choice-button:focus {
  background-color: var(--old-paper-color);
  color: black;
}

section#choices button#scissors.choice-button:focus {
  background-color: navy;
  color: white;
}

section#choices button#surrender.choice-button:focus {
  background-color: darkred;
}

section#choices button#rock.choice-button:active {
  background-color: white;
  color: black;
}

section#choices button#paper.choice-button:active {
  background-color: white;
  color: var(--dark-old-paper-color);
}

section#choices button#scissors.choice-button:active {
  background-color: white;
  color: navy;
}

section#choices button#surrender.choice-button:active {
  background-color: red;
}

section#game-result {
  padding: 0 3rem;
  font-size: 1rem;
}

section#game-result h3 {
  font-weight: normal;
  font-size: 1.5rem;
}

.hidden {
  display: none !important;
}

.round-win {
  background-color: #AAFF99;
}

.round-lose {
  background-color: #FF9999;
}

.round-tie {
  background-color: #FFEE99;
}

.game-won h3 {
  color: darkgreen;
}

.game-lost h3 {
  color: darkred;
}

.game-tie h3 {
  color: var(--old-paper-color);
}

.game-surrender h3 {
  color: navy;
}

div.reactions {
  position: relative;
}

img.reaction-image,
img.move-image {
  border-radius: 15%;
  width: 100%;
  user-select: none;
}

img.move-image {
  position: absolute;
    transform: scale(0.5);
    top: 0;
    bottom: 0;
    margin: auto 0;
}

#player img.move-image {
  right: -75%;
}

#opponent img.move-image {
  left: -75%;
}
